@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; 
    --foreground: #ededed; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  overflow-x: hidden;
}

/* Custom glowing border effect */
.glowing-border {
  position: relative;
  box-shadow: 0 0 10px rgba(6, 169, 158, 0.945), 0 0 20px rgba(3, 112, 143, 0.87), 0 0 30px rgba(2, 133, 147, 0.894);
  transition: all 0.3s ease-in-out;
}

.glowing-border:hover {
  box-shadow: 0 0 5px rgba(121, 23, 1, 0.938), 0 0 10px rgba(190, 3, 94, 0.911), 0 0 10px rgba(170, 1, 1, 0.928);
}


/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* Indigo-600 */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease, width 0.3s ease;
}

/* Increase scrollbar width on hover */
::-webkit-scrollbar:hover {
  width: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4338ca; /* Indigo-700 */
}

